.git
.github
.git
.gitignore
.idea
.vscode
*~
*.swp
.DS_Store
*.log
coverage
.coverage*
.cache
artifacts
dist
build
node_modules
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
!*.example
docker-config
tokens
*.token
tests
docs
